<form id="insert-song-form" method="get">
    <div class="form-group">
        <label class="col-form-label">Song name</label>
        <input type="text" class="form-control" id="song-name" name="song-name">
    </div>
    <div class="form-group">
        <label class="col-form-label">Artist name</label>
        <input type="text" class="form-control" name="artist">
    </div>
    <div class="form-group">
        <label class="col-form-label">Year</label>
        <input type="text" class="form-control" name="year">
    </div>
    <div class="form-group">
        <label class="col-form-label">Genre</label>
        <input type="text" class="form-control" name="genre">
    </div>
    <div class="form-group">
        <label class="col-form-label">Published on</label><br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="spotify" value="spotify" name="spotify">
            <label class="form-check-label" for="spotify">Spotify</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="youtube" value="youtube" name="youtube">
            <label class="form-check-label" for="youtube">Youtube Music</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="apple" value="apple" name="apple">
            <label class="form-check-label" for="apple">Apple Music</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="deezer" value="deezer" name="deezer">
            <label class="form-check-label" for="deezer">Deezer</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="joox" value="joox" name="joox">
            <label class="form-check-label" for="joox">JOOX</label>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>