<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Mini-Project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
    <script src="../js/main.js"></script>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <!-- HEADER -->
    <div class="inside-container">
        <h1 align="centre">Welcome to Music Mini Project</h1>
    </div>
    
    <!-- LOGOUT BUTTON -->
    <div class="inside-container">
      <a href="/login" class="btn btn-primary" style="margin-right: 5px">Sign In</a>
      <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out" class="btn btn-secondary"/>
      </form>
    </div>
    
    <!-- ADD NEW SONG -->
    <div class="inside-container">
        <button type="button" class="btn btn-info" id="new-song-btn" onclick="insertSong()">Add new song</button>
    </div>
    
    <!-- FILTER BY PLATFORM -->
    <div class="inside-container">
        <a type="button" class="btn btn-light" id="all-btn" th:href="@{/}">All</a>
        <a type="button" class="btn btn-light" id="spotify-btn" th:href="@{/readByPlatform?platform=Spotify}">Spotify</a>
        <a type="button" class="btn btn-light" id="youtube-btn" th:href="@{/readByPlatform?platform=Youtube Music}">Youtube Music</a>
        <a type="button" class="btn btn-light" id="apple-btn" th:href="@{/readByPlatform?platform=Apple Music}">Apple Music</a>
        <a type="button" class="btn btn-light" id="deezer-btn" th:href="@{/readByPlatform?platform=Deezer}">Deezer</a>
        <a type="button" class="btn btn-light" id="joox-btn" th:href="@{/readByPlatform?platform=JOOX}">JOOX</a>
    </div>
    
    <!-- TABLE OF SONGS -->
    <div class="inside-container">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Song ID</th>
                    <th>Song Name</th>
                    <th>Artist</th>
                    <th>Year</th>
                    <th>Genre</th>
                    <th>Platforms</th>
                    <th colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody id="all-list">
              <tr th:each="data : ${songs}" id="table-row">
                <td th:text="${data.id}"></td>
                <td th:text="${data.songName}"></td>
                <td th:text="${data.artist}"></td>
                <td th:text="${data.year}"></td>
                <td th:text="${data.genre}"></td>
                <td>
                  
                  <table>
                    <tr>
                      <td th:each="platform : ${data.platforms}">
                        <span class="platform-btn" th:text="${platform}">
                      </td>
                    </tr>
                  </table>
                  
                </td>
                <td>
                  <!-- th:action="@{/updateModal}" method="post" -->
                    <form id="update-btn-form" class="edit-form">
                        <input type="hidden" name="id" th:value="${data.id}" class="form-control" id="update-btn-input">
                        <a th:href="@{/readById(id=${data.id})}" class="btn btn-outline-info" id="update-btn" th:attr="onclick=|updateSong('${data.id}')|">Edit</a>
                    </form>
                  </td>
                  <td>
                    <!-- th:action="@{/api/admin/deleteSong}" -->
                      <form id="delete-btn-form" class="delete-form" th:action="@{/api/admin/deleteSong}" method="post">
                          <input type="hidden" name="id" th:value="${data.id}" class="form-control">
                          <button class="btn btn-outline-danger" id="delete-btn" onclick="deleteSong()">Delete</button>
                      </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    
    <!-- NAVIGATION LINKS AT BOTTOM OF TABLE -->
    <!-- <div class="inside-container page-numbers">
      <hr/>
      <ul class="nav nav-pills">
        <li class="nav-item" th:each="i : ${#numbers.sequence(1, songs.totalPages)}">
          <a th:href="@{/readByPlatform?{platform}&amp;{page}(platform=${songs[0].uniquePlatform},page=${i-1})}" th:text="${i}" class="nav-link" 
          th:classappend="${currentPage}==${i-1}?'active':''"></a>
        </li>
      </ul>
    </div> -->
    
    <!-- INSERT MODAL -->
    <div id="insert-song">
      <form id="insert-song-form" method="post">
        <div id="modal" class="modal" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Add new song</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                  aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <div class="form-group">
                      <input type="hidden" class="form-control" id="id" name="id">
                  </div>
                  <div class="form-group">
                      <label class="col-form-label">Song name</label>
                      <input type="text" class="form-control" id="name" name="name" required>
                      <!-- <div class="invalid-feedback">
                          Please enter song name.
                      </div> -->
                  </div>
                  <div class="form-group">
                      <label class="col-form-label">Artist name</label>
                      <input type="text" class="form-control" id="artist" name="artist">
                  </div>
                  <div class="form-group">
                      <label class="col-form-label">Year</label>
                      <input type="text" class="form-control" id="year" name="year">
                  </div>
                  <div class="form-group">
                      <label class="col-form-label">Genre</label>
                      <input type="text" class="form-control" id="genre" name="genre">
                  </div>
                  <div class="form-group">
                      <label class="col-form-label">Published on</label><br>
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" id="spotify" value="spotify" name="spotify">
                          <label class="form-check-label" for="spotify">Spotify</label>
                      </div>
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" id="youtube" value="youtube" name="youtube">
                          <label class="form-check-label" for="youtube">Youtube Music</label>
                      </div>
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" id="apple" value="apple" name="apple">
                          <label class="form-check-label" for="apple">Apple Music</label>
                      </div>
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" id="deezer" value="deezer" name="deezer">
                          <label class="form-check-label" for="deezer">Deezer</label>
                      </div>
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" id="joox" value="joox" name="joox">
                          <label class="form-check-label" for="joox">JOOX</label>
                      </div>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <input type="submit" class="btn btn-primary" value="Submit"></button>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    
</body>
</html>